---
import AdminLogin from "../components/AdminLogin";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <section class="bg-white dark:bg-darkblack-500">
    <div class="flex flex-col lg:flex-row justify-between min-h-screen">
      <!-- Left -->
      <div class="lg:w-1/2 px-5 xl:pl-12 pt-10">
        <header>
          <a href="/" class="">
            <img
              src="/assets/images/logo/logo-color.png"
              class="block dark:hidden"
              alt="Logo"
            />
            <img
              src="/assets/images/logo/logo-white.png"
              class="hidden dark:block"
              alt="Logo"
            />
          </a>
        </header>
        <div class="max-w-[450px] m-auto pt-24 pb-16">
          <AdminLogin client:only="react" />
          <nav
            class="flex items-center justify-center flex-wrap gap-x-11 pt-24"
          >
            <a href="#" class="text-sm text-bgray-700 dark:text-white"
              >Terms & Condition</a
            >
            <a href="#" class="text-sm text-bgray-700 dark:text-white"
              >Privacy Policy</a
            >
            <a href="#" class="text-sm text-bgray-700 dark:text-white">Help</a>
            <a href="#" class="text-sm text-bgray-700 dark:text-white"
              >English</a
            >
          </nav>
          <p class="text-bgray-600 dark:text-white text-center text-sm mt-6">
            &#169; 2025 Created by <a href="http://ignitax.com">IGNITAX</a>. All
            Right Reserved.
          </p>
        </div>
      </div>
      <!-- Right -->
      <div
        class="lg:w-1/2 lg:block hidden bg-[#F6FAFF] dark:bg-darkblack-600 p-20 relative"
      >
        <ul>
          <li class="absolute top-10 left-8">
            <img src="/assets/images/shapes/square.svg" alt="" />
          </li>
          <li class="absolute right-12 top-14">
            <img src="/assets/images/shapes/vline.svg" alt="" />
          </li>
          <li class="absolute bottom-7 left-8">
            <img src="/assets/images/shapes/dotted.svg" alt="" />
          </li>
        </ul>
        <div class="">
          <img src="/assets/images/illustration/signin.webp" alt="" />
        </div>
        <div>
          <div class="text-center max-w-lg px-1.5 m-auto">
            <h3
              class="text-bgray-900 dark:text-white font-semibold font-popins text-4xl mb-4"
            >
              Next Gen Food Delivery Management System
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script is:inline>
    document
      .getElementById("toggle-password")
      .addEventListener("click", function () {
        const passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      });
  </script>
</Layout>
